composer.phar
node_modules/
/public/storage
/storage/*.key
/storage/*
/.idea
/.vscode
vendor/
cache/
logs/
Homestead.json
Homestead.yaml
.env
composer.lock
webpack.mix.js

*.txt
*.tmp
*.swp
*.bak
*.log
*.pdf
*.csv
*.xls
*.xlsx
*.doc
*.docx
*.ppt
*.pptx

.sass-cache/
*.css.map
*.sass.map
*.scss.map

todo.todo

